body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #673AB7;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

video {
  display: flex;
  box-shadow: 0 0 28px rgba(0,0,0,0.25);
}


.player {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 420px;
}

.player:hover .progress {
  height: 1rem;
}

.player:hover .controls {
  height: 1rem;
}

.controls {
  transition: all .2s;
  overflow: hidden;
  height: .2rem;
  box-shadow: 0 0 28px rgba(0,0,0,0.25);
  background-color: #E0E0E0;
}

.progress {
  display: flex;
  height: .2rem;
  background-color:#7E57C2;
;
  transition: all .2s;
}

.progress .bar {
  background-color: #FF9800;
  height: 100%;
  transition: all .5s;
}
