body {
  background: url(audience.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.keys {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.key {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: .2rem;
  padding: .5rem;
  width: 60px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .7);
  transition: all .1s;
  cursor: pointer;
}

.key.playing {
  transform: scale(1.2);
  border: 2px solid #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

.key kbd {
  display: flex;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: white;
}

.key span {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  color: #ffc600;
}
